body{
    padding-bottom: 0px!important;
    margin-bottom: -40px !important;
}

footer{
    background-image: linear-gradient(to right top, #424857, #343944, #272a32, #1a1c20, #0b0c0f)!important;
    padding: 0;
    margin: 0;
}

.footer-container{
    background-color: transparent!important;
}

footer .container{
    margin-top: 0px!important;
    padding-top: 0px!important;
}

footer p{
    color: #cccccc;
    text-align: justify;
}

footer .col-3{
    text-align: center;
    background-image: none;
}

footer h3{
    font-family: 'Poppins', sans-serif;
    color: #cccccc;
    font-weight: 500;
    padding-top: 50px;
    padding-bottom: 10px;
    text-align: center;
    font-size: 32px;
}

footer h5{
    font-family: 'Poppins', sans-serif;
    color: #cccccc;
    font-weight: 500;
    padding-top: 50px;
    font-size: 25px;
}

footer ul{
    padding: 0px;
    text-align: center;
}

footer ul li{
    list-style: none;
    padding: 0px;
    font-weight: 500;
}

footer ul li a{
    color: #cccccc;
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
}

footer ul li a:hover{
    cursor: pointer;
    color: #720e9e;
}

footer ul li{
    font-size: 20px;
    color: #cccccc;
    padding-bottom: 5px;
}

footer ul li i:hover{
    cursor: pointer;
    color: #720e9e;
}

.contact-info li{
    padding-top: 5px;
    color: #cccccc;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
}

.container-copyrights{
    border-top: 1px solid #cccccc;
    margin-top: 50px;
}

.copyrights{
    color: #cccccc;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 14px;
}