.notifications-container{
    background-color: #22252a;
    padding-top: 100px!important;
    padding-bottom: 100px!important;
}

.notifications-container .row{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px!important;
    padding-bottom: 0px;
}

.notifications-container .row .col-5{
    padding-left: 50px;
    background-color: #17191c;
    height: 80vh;
    margin-left: 50px;
}

.friend-requests{
    font-family: 'Poppins',sans-serif;
    font-weight: 500;
    margin-top: 40px;
    background-image: linear-gradient(to right top, #424857, #343944, #272a32, #1a1c20, #0b0c0f);
    border-radius: 10px;
    color: #fff;
    box-shadow: 0px 0px 16px 5px rgba(0,0,0,0.6);
    -webkit-box-shadow: 0px 0px 16px 5px rgba(0,0,0,0.6);
    -moz-box-shadow: 0px 0px 16px 5px rgba(0,0,0,0.6);
    margin-bottom: 50px;
    padding-bottom: 20px;
}

.friend-requests h2{
    text-align: left;
    padding-top: 30px;
    padding-left: 30px;
    padding-bottom: 10px;
    font-size: 26px;
}

.friend-requests hr{
    margin-bottom: 30px;
    border-bottom: 2px solid;
    width: 80%;
}

.friend-requests ul{
    width: 100%;
    padding: 0px;
    overflow-y: scroll;
    height: 350px;
}

.friend-requests ul li{
    list-style: none;
    vertical-align: middle;
    text-align: left;
    display: flex;
    align-items: center;
    justify-content: left;
    padding: 10px 20px;
    border-bottom: 1px solid #424857;
    width: 75%;
    transition: 0.6s all ease-out;
    overflow: hidden;
}

.friend-requests ul li:hover{
    cursor: pointer;
    background-color: #21242c;
}

.friend-requests ul li img{
    width: 55px;
    height: 55px;
    border-radius: 50%;
    padding: 5px;
    object-fit: cover;
}

.friend-requests ul li h6{
    font-size: 14px;
    font-family: 'Roboto',sans-serif;
    font-weight: 500;
    padding-left: 10px;
}

.friend-request-confirm{
    width: 80px;
    height: 35px;
    border-radius: 25px;
    background-image: linear-gradient(to right top, #720e9e, #660d8d, #5b0b7d, #4f096d, #44085e);
    border: none;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 5px;
    font-weight: 600;
    color: #fff;
    opacity: 1;
    transition: all 0.3s ease;
}

.friend-request-confirm:hover{
    opacity: 0.7;
}

.friend-request-delete{
    width: 80px;
    height: 35px;
    border-radius: 25px;
    margin-left: 5px;
    border: none;
    color: #fff;
    font-weight: 600;
    background-color: #343944;
    transition: 0.2s all ease-out;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.friend-request-delete:hover{
    opacity: 0.7;
}

.notifications-wrapped{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.friend-requests p{
    font-size: 14px;
    font-family: 'Poppins',sans-serif;
    font-weight: 500;
    padding-left: 10px;
    margin: 0px;
    padding-bottom: 5px;
}

.date-notification{
    color: rgb(179, 179, 179);
    font-weight: 500;
    padding: 0px;
    margin: 0px;
}

.friend-requests p span{
    color: rgb(179, 179, 179);
}
